@charset "UTF-8";

body{
    background-color: #faa569e4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-family: sans-serif;
    color: #3B2719;
}
#principal{
    text-align: center;
    color: #7A5133;
}
h2{
    font: italic 400 1.5em arial;
    background-color: #E0945E;
}
.subtitulo1 {
 font-family: serif;
}
.subtitulo2 {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}