@charset "UTF-8";
* {
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #327349, #56BF70 50%);
}
main{
    background-color: white;
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #1e452bd1;
}
h1{
    color: #B3BF54 ;
    text-align: center;
    text-shadow: 1px 1px 2px #767e37d0;
}
h2{
    color: #8C613B
}
p{
    text-align: justify;
}
aside{
    width: 200px;
    height: 200px;
    margin: 30px;
    background-image: linear-gradient(to left, #6755cd, #ff49ccbe, #ffdd00 );
}